ion-card {
  --background: #06373a;
  margin-bottom: 12px;
}

ion-card-header {
  padding-bottom: 8px;
}

ion-card-title {
  font-size: 1rem;
  color: #f2e8cf;
}

ion-card-subtitle {
  font-size: 0.8rem;
  color: #a7c957;
}

p {
  font-size: 0.7rem;
  color: #cccccc;
}

