<ion-text>
  <h2>Información del producto</h2>
</ion-text>
<div class="input-container">
  <ion-input required labelPlacement="floating" [(ngModel)]="producto.name" label="Nombre"></ion-input>
  <ion-input required labelPlacement="floating" [(ngModel)]="producto.description" label="Descripción"></ion-input>
  <ion-input required labelPlacement="floating" [(ngModel)]="producto.unitPrice" label="Precio Unitario"></ion-input>
  <ion-input required labelPlacement="floating" [(ngModel)]="producto.photoURL" label="URL a Imagen" placeholder="Enlace a imagen del producto"></ion-input>
  <ion-button
    [disabled]="producto.name == '' || producto.description == '' || producto.unitPrice == 0 || producto.photoURL == ''"
    (click)="cerrarModal()">
    Agregar Producto
  </ion-button>
</div>
