<ng-form>
  <ion-input labelPlacement="floating" label="Nombre" [(ngModel)]="user.name" name="name"></ion-input>
  <ion-input labelPlacement="floating"
             label="URL de tu foto de perfil (a reemplazar)"
             [(ngModel)]="user.photoUrl"
             name="photoURL"
            *ngIf="this.showURL"></ion-input>

  <a (click)="this.takePhoto()">Tomar foto</a>
  <ion-button [disabled]="user.name == '' || user.photoUrl == ''" type="submit" (click)="submit()">Crear cuenta</ion-button>
</ng-form>
