<ion-content [fullscreen]="true">
  <app-user-header></app-user-header>
  <ion-text>
    <h2>Productos</h2>
  </ion-text>
  <app-products-grid></app-products-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-add-product></app-add-product>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
