app-user-header {
  z-index: 9999;
}

h2 {
  color: #fff;
  font-weight: 700;
  padding-left: 1rem;
  margin-bottom: 0;
}

ion-grid {
  margin-bottom: 12px;
}

ion-fab {
  padding-bottom: 1.5rem;
}

ion-toolbar {
  --background: #a7c957;
}

ion-button {
  --color: #386641;
}
