<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeheader</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-user-header></app-user-header>

<ion-content [fullscreen]="true">
  <ion-searchbar color="secondary" animated="true" placeholder="Buscar"></ion-searchbar>
  <ion-text>
    <h2>Productos</h2>
  </ion-text>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col><app-product-view></app-product-view></ion-col>
      <ion-col><app-product-view></app-product-view></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col><app-product-view></app-product-view></ion-col>
      <ion-col><app-product-view></app-product-view></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col><app-product-view></app-product-view></ion-col>
      <ion-col><app-product-view></app-product-view></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col><app-product-view></app-product-view></ion-col>
      <ion-col><app-product-view></app-product-view></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
