<div class="container">
  <div class="container-img">
    <img src="https://clipart-library.com/images_k/laptop-png-transparent/laptop-png-transparent-21.png" alt="A drawing of a computer">
    <ion-text color="secondary"><strong>No te pierdas de acceso rápido a los mejores precios de internet</strong></ion-text>
  </div>
  <div class="container-btns">
    <ion-button expand="full" shape="round" size="large" color="primary" [routerLink]="'/auth/login/'">Iniciar sesión</ion-button>
    <ion-button expand="full" shape="round" size="large" color="tertiary" [routerLink]="'/auth/signup/'">Crear cuenta</ion-button>
  </div>
</div>
